@media screen and (max-width: 600px) { 
    nav {
        padding-top: 0 !important;
    }
    nav a {
        padding-top: 0 !important;
    }
    .caption h1 {
        display: none;
    }
    .demo {
        padding-bottom: 20px !important;
    }
    .demo h1 {
        line-height: 60px;
    }
    .demo h4{
        padding-top: 0px;
        font-size: 16px;
    }
    h1 {
        font-size: 32px !important;
    }
    h2 {
        font-size: 28px !important;
    }
    .our-services h1, .our-clients h1, .portfolio h1, .review h1, .contact-us h1, .about_us h1 {
        width: 70% !important;
        letter-spacing: 0;
    }
    input {
        width: 94%;
    }
    .our-services, .our-clients, .portfolio, .review, .contact-us {
        padding-top: 20px;
    }
    .demo {
        padding: 0;
    }
    .our-services h2, .about_us h4 {
        margin-top: 20px;
        font-size: 28px;
        letter-spacing: 1px;
    }
    .our-services img {
        margin-top: 10px;
    }
    .our-services h3, .about_us p, .about_us ul {
        margin: 0;
        padding: 5px;
        font-size: 16px;
        line-height: 25px;
    }
    .portfolio-link {
        margin: 10px;
    }
    .our-clients h1, .portfolio h1, .review h1, .contact-us h1{
        margin-bottom: 54px;
    }
    .our-clients img {
        margin: 10px;
    }
    .review-item {
        text-align: center;
        height: 470px;
    }
    .caption2 {
        margin: 0px 5px 30px 5px;
        left: 0px !important;
        right: 0px !important;
    }
    .review-box h2 {
        padding: 50px 0 20px 0 !important;
        font-size: 10vw !important;
    }
    .contact-us iframe {
        height: 250px;
        margin-bottom: 20px;
    }
    .contact-us h2 {
        text-align: center;
    }
    .contact-us h3 {
        font-size: 24px;
    }
    .contact-us h4 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 1200px){
    .caption h1 {
        display: none;
    }
    .our-services h1, .our-clients h1, .portfolio h1, .review h1, .contact-us h1, .about_us h1 {
        width: 40%;
        letter-spacing: 0;
    }
}
@media only screen and (max-width: 1200px) { 
    nav {
        padding-top: 0 !important;
    }
    nav a {
        padding-top: 0 !important;
    }
    .navbar-expand-xl {
        height: auto;
        padding-bottom: 0px !important;
    }
    .navbar-brand {
        padding-bottom: 0 !important;
    }
    .navbar ul{
        padding-bottom: 50px !important;
    }
    .carousel-indicators li{
        padding: 5px !important;
        width: 1px !important;
    }
    .carousel-indicators {
        margin-bottom: 0;
        /* display: none; */
    }
    .hidden {
        display: block !important;
    }
    .mob-hidden {
        display: none;
    }
    .carousel-control-prev, .carousel-control-next {
        display: none !important;
    }
}
