* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
/* navbar */
.navbar {
    padding-left: 0 !important;
    height: 70px;
    background: linear-gradient(100.47deg, #542798 0%, #D81840 27%, #DA3A3B 60%, #F17F06 100%)
}
.navbar-toggler {
    color: #fff !important;
    font-size: 36px !important;
    border: none !important;
}
.navbar-brand img{
    max-height: 70px;
    margin-left: 0;
}
.nav-item:nth-child(1), .nav-item:nth-child(2), .nav-item:nth-child(3), .nav-item:nth-child(4), .nav-item:nth-child(5) {
    padding-left: 30px !important;
}
.nav-link {
    color: #fff !important;
    font-size: 20px;
    font-family: "Quicksand Medium";
}
.nav-item:nth-child(6) .nav-link {
    right: 0;
    position: absolute;
    margin-right: 50px;
    border: 2px solid #792380;
    background-color: #792380;
    border-radius: 17px;
    padding: 5px 20px 5px 20px !important;
}
.active-home {
    color: rgb(248, 212, 9) !important;
}
.nav-link:hover {
    color: rgb(248, 212, 9) !important;
}
.nav-item:nth-child(6) .nav-link:hover  {
    background-color: transparent !important;
    color: #fff !important;
}

/* welcome */
.welcome img {
    max-height: 100vh !important;
}

.bd-example .caption {
    position: absolute;
    top: 30%;
    color: #fff;
    margin: 0 15% 0 15%;
}
.caption {
    animation: 3s ease-out 0s 1 welcomeAnim;
}
.bd-example .caption h2 {
    font-size: 40px;
}
.bd-example .caption h1 {
    font-size: 60px;
}
.fa-angle-left {
    border: 2px solid #fff;
    padding: 0px 30px 5px 20px;
    font-size: 80px !important;
    border-radius: 50%;
}
.fa-angle-right {
    border: 2px solid #fff;
    padding: 0px 20px 5px 30px;
    font-size: 80px !important;
    border-radius: 50%;
}
.carousel-indicators li{
    /* border: 2px solid red; */
    border-radius: 50%;
    background-color: #fff !important;
    padding: 10px;
    width: 1px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.carousel-indicators .active{
    background-color: #E64A19 !important;
}

/* demo */
.demo {
    padding-top: 84px;
    padding-bottom: 94px;
    background: linear-gradient(50.81deg, #FE4363 0%, rgba(217,41,61,0.91) 0%, #F8C750 100%);
    color: #fff;
    animation: 3s ease-out 0s 1 welcomeAnim;
    animation-play-state: paused;
}
.demo h1 {
    font-size: 68px;
    line-height: 85px;
    text-align: center;
}

.demo h4{
    padding-top: 33px;
    font-family: "Quicksand Medium";
    font-size: 24px;
    line-height: 30px;
}

.demo video {
    width: 511px;
}
@keyframes welcomeAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* our services */
.our-services, .our-clients, .portfolio, .review, .contact-us, .about_us {
    padding-top: 109px;
}
.our-services h1, .our-clients h1, .portfolio h1, .review h1, .contact-us h1, .about_us h1 {
    color: #fff;
    font-family: "Quicksand Medium";
    font-size: 32px;
    letter-spacing: 4px;
    line-height: 40px;
    width: 30%;
    padding: 10px 0 10px 7%;
    background: linear-gradient(43.81deg, #FE4363 0%, rgba(217,41,61,0.91) 0%, #F8C750 100%);
}
.our-services img {
    margin-top: 79px;
    padding: 10px;
}

.our-services h2 {
    font-weight: 400;
    margin-top: 89px;
    color: #000;
    font-size: 48px;
    letter-spacing: 4px;
    line-height: 60px;
}
.our-services h3 {
    margin-top: 98px;
    font-weight: 100;
    color: #2b2b2b;
    font-family: "Quicksand Medium";
    font-size: 28px;
    line-height: 50px;
    padding: 0 50px 0 50px;
}
.our-services .hidden {
    display: none;
}
#heading1, #heading2, #heading3, #heading4, #heading5, #heading6 {
    transition-delay: 3s;
    animation: 2s ease-out 0s 1 heading;
    animation-play-state: paused;
}

@keyframes serImgAnim {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes serTxtAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes heading {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
#our_ser_img1, #our_ser_img2, #our_ser_img3, #our_ser_img4, #our_ser_img5, #our_ser_img6, #our_ser_img7 {
    /* display: none; */
    transition-delay: 3s;
    animation: 2s ease-out 0s 1 serImgAnim;
    animation-play-state: paused;
}
#our_ser_txt1, #our_ser_txt2, #our_ser_txt3, #our_ser_txt4, #our_ser_txt5 {
    /* display: none; */
    transition-delay: 7s;
    animation: 4s ease-out 0s 1 serTxtAnim;
    animation-play-state: paused;
}

/* our clients */
.our-clients h1, .portfolio h1, .review h1, .contact-us h1{
    margin-bottom: 109px;
}
.client-row2 {
    padding-top: 100px;
}

.portfolio img {
    max-height: 100vh;
}
.portfolio-link {
    float: right;
    margin: 50px;
    width: auto;
    font-style: none;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 36px;
    color: #fff;
    text-decoration: none !important;
    font-weight: 700;
    background-color: rgba(51,153,255,0.68);
    border: 2px solid;
}
.portfolio-link:hover {
    border: 2px solid  rgba(51,153,255,0.68);
    color:  rgba(51,153,255,0.68);
    background-color: #fff;
}

/* about us */
.about_us p {
    text-align: justify;
    margin-top: 98px;
    font-weight: 100;
    color: #2b2b2b;
    font-family: "Quicksand Medium";
    font-size: 24px;
}
.about_us h4 {
    text-align: center;
    font-weight: 400;
    margin-top: 89px;
    color: #000;
    font-size: 48px;
    letter-spacing: 4px;
    line-height: 60px;
}
.about_us ul {
    margin-top: 58px;
    font-weight: 100;
    color: #2b2b2b;
    font-family: "Quicksand Medium";
    font-size: 24px;
}

/* review */
.review h2 {
    padding-top: 80px;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 40px;
}
.title {
    margin-bottom: 80px;
}
.review img {
    background: #E64A19;
    width: 150px !important;
    height: 150px;
    border-radius: 50%;
}
.review-item {
    text-align: center;
    height: 430px;
}
.caption2 {
    z-index: -1 !important;
    box-shadow: 0 0 15px 1px rgba(166, 163, 223, 0.5);
    border-radius: 5px;
    margin-bottom: 50px;
}
.caption2 h6 {
    margin-top: 80px;
    font-weight: bold;
    color: #000 !important;
}
.caption2 small {
    margin-top: 10px;
    margin-bottom: 50px;
    display: block;
    color: #000 !important;
}
.caption2 p {
    text-align: center;
    padding: 0 50px;
    font-size: 15px;
    color: #808080 !important;
}
.review .carousel-indicators li {
    background-color: #E64A19 !important;
}

/* contact-us */
.contact-us h2 {
    color: #232323;
    font-family: "Quicksand Medium";
    font-size: 32px;
    line-height: 33px;
}

.contact-us h2 i {
    color: #792380;
    padding-right: 15px;
}
.contact-us h3 {
    padding-top: 59px;
    color: #232323;
    font-family: Arial;
    font-size: 26px;
    line-height: 31px;
}
.contact-no {
    padding-top: 20px;
    font-size: 26px;
}
.contact-us form {
    padding-top: 30px;
}
input {
    padding: 5px;
    width: 45%;
    margin: 10px !important;
}
.input-email {
    width: 94%;
}
textarea {
    padding: 5px;
    width: 94%;
    margin: 10px !important;
}
.input-sub {
    width: auto;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 36px;
    color: #fff;
    font-weight: 700;
    background-color: rgba(51,153,255,0.68);
    border: 2px solid;
}
.input-sub:hover {
    border: 2px solid  rgba(51,153,255,0.68);
    color:  rgba(51,153,255,0.68);
    background-color: #fff;
}

/* footer */
.footer {
    color: #fff;
    padding-top: 20px;
    background: linear-gradient(43.81deg, #FE4363 0%, rgba(217,41,61,0.91) 0%, #F8C750 100%);
}
.footer img {
    max-height: 108px;
}
.footer h4{
    font-family: "Quicksand Medium";
    font-size: 28px;
    line-height: 30px;
    padding-bottom: 10px;
}
.footer ul {
    list-style: none;
}
.footer li {
    font-family: Arial;
    font-size: 20px;
    line-height: 22px;
    cursor: pointer;
    padding-bottom: 15px;
}
.footer h5{
    font-family: Arial;
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 20px;
}
.social-links img {
    width: 40px;
    margin: 10px;
}
.footer .cp {
    padding-top: 10px;
}
.cp a {
    color: #fff;
}
.cp a:hover {
    color: #00C0FF;
}

